.sena-contenido {
  text-align: center;
  max-width: 800px;
  margin: 40px auto 0 auto;
}

.sena-contenido h1 {
  font-size: 32px;
  letter-spacing: 4px;
  margin-bottom: 20px;
  font-weight: 700;
}

.sena-contenido p {
  font-size: 13px;
  line-height: 1.6;
}